.breadcrumb li {
  display: inline;
  text-align: center;
}

.breadcrumb li+li:before {
  content: " > ";
  color: white;
}

.breadcrumb {
  background-color: #7386D5;
  padding: 10px;
  a {
    color: white;
  }
}
