<h1 *ngIf="isLoading">
  <i>Loading project ... </i>
</h1>
<div class="container-fluid" *ngIf="currentProject">
  
 <tabset>
    <tab heading="Details" (select)="setCurrentTab('Details')" id="tab1">
        <app-project-detail [(project)]="currentProject" [groupList]="groups" [statusList]="status" [pmList]="projectManagers"></app-project-detail>
    </tab>
    <tab heading="Forecast" (select)="setCurrentTab('Forecast')">
        <app-project-monthly-detail [(project)]="currentProject" [selectedView]="currentTab"></app-project-monthly-detail>

    </tab>
    <tab heading="Actuals" (select)="setCurrentTab('Actuals')">
        <app-project-monthly-detail [(project)]="currentProject" [selectedView]="currentTab"></app-project-monthly-detail>
    </tab>
    
  </tabset>
</div>
