<div class="row">
  <nav class="sidebar" [class.active]=isActive() id="sidebar">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active" routerLink="/dashboard/home">
          <i class="fas fa-home"></i>
          Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active" routerLink="/dashboard/divisions">
          <i class="fas fa-edit"></i>
          Divisions</a>
      </li> 
      <li class="nav-item">
          <a class="nav-link" href="#" routerLinkActive="active" routerLink="/dashboard/projects">
            <i class="fas fa-puzzle-piece"></i>
            Projects</a>
        </li>  
      <li class="nav-item">
          <a class="nav-link" href="#" routerLinkActive="active" routerLink="/dashboard/myprojects">
            <i class="fas fa-puzzle-piece"></i>
            My Projects</a>
        </li>               
    
    <li class="nav-item" dropdown container="body">
        <a href dropdownToggle (click)="false" class="nav-link">
          <i class="fas fa-edit"></i>
          Dropdown 
          <span class="fas fa-caret-down"></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
          </li>
        </ul>
      </li>
    <li class="nav-item">
      <a class="nav-link" href="">
        <i class="fas fa-discourse"></i>
        About
      </a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="" routerLinkActive="active" routerLink="/configuration/roles">
        <i class="fas fa-share-square"></i>
        Contact
      </a>
    </li>
  </ul>
  </nav>   
  <main class="container-fluid" role="main" [class.active]=isActive() id="main">
      <h4>{{pageTitle}}</h4>
      <router-outlet></router-outlet>
    </main>     
</div>