<div class="container-fluid planning-grid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary">1</button>
            <button type="button" class="btn btn-secondary">2</button>
            <button type="button" class="btn btn-secondary">3</button>
            <button type="button" class="btn btn-secondary">4</button>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-secondary">5</button>
            <button type="button" class="btn btn-secondary">6</button>
            <button type="button" class="btn btn-secondary">7</button>
          </div>
          <div class="btn-group" role="group" aria-label="Third group">
            <button type="button" class="btn btn-secondary">8</button>
          </div>
        </div>
      </ul>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="saveProject()">Save</button>
    </div>
  </nav>
</div>
<div class="table-scroll">

  <div>
    <table appMultiSelect multi-cell-select (selectedIds)="getSelectedIds($event)" class="table table-sm" id="monthlydetail">
      <thead class="header-row">
        <tr>
          <th class="action-col"></th>
          <th class="fixed-col role-col">Role/Category</th>
          <th class="fixed-col resource-col">Resource Name</th>
          <th class="fixed-col type-col">ResourceType</th>
          <th class="fixed-col vendor-col">Vendor</th>
          <th class="fixed-col rate-col">Rate</th>
          <th class="month-col">Month</th>
          <th class="month-col" *ngFor="let month of project.months.slice([fcol],[lcol])">{{month.monthNo}}</th>
          <th class="total-col">
            <button class="btn btn-sm" tooltip="Add Month">
              <i class="fas fa-square-plus" (click)="addMonth()">add</i>
            </button>
          </th>
        </tr>
        <tr>
          <th class="action-col"></th>
          <th class="fixed-col role-col" colspan="4"></th>
          <th class="total-col">($/hr)</th>
          <th class="month-col">Phase-></th>
          <th class="month-col" *ngFor="let month of project.months.slice([fcol],[lcol]) let m = index" (click)="editPhase(month, m)">
            <span *ngIf="!month.editMode"> {{month.phaseName}}</span>
            <select class="form-control" *ngIf="month.editMode" (change)="updatePhase($event, month)">
              <option *ngFor="let phase of phaseList" [value]="phase.phaseId" [selected]="phase.phaseId == month.phaseId">{{phase.phaseName}}</option>
            </select>
          </th>
        </tr>
        <tr>
          <th>
            <button class="btn btn-sm" tooltip="Add Resource">
              <i class="fas fa-square-plus" (click)="addResource()">add</i>
            </button>
          </th>
          <th colspan="4">Labor</th>
          <th></th>
          <td class="month-col">Total</td>
          <td class="month-col" *ngFor="let month of project.months.slice([fcol],[lcol])">Hours</td>
        </tr>
      </thead>

      <tr *ngFor="let resource of project.resources let i = index">
        <th class="action">
          <a *ngIf="!resource.editMode" (click)="deleteResource(resource, i)">
            <i class="fas fa-trash">delete</i>
          </a>
          <a *ngIf="!resource.editMode" (click)="editResource(resource, i)">
            <i class="fas fa-edit">edit</i>
          </a>
          <a *ngIf="resource.editMode" (click)="saveResourceEdit(resource, i)">
            <i class="fas fa-save">save</i>
          </a>
          <a *ngIf="resource.editMode" (click)="cancelResourceEdit(resource, i)">
            <i class="fas fa-ban">cancel</i>
          </a>
        </th>
        <th (click)="editResource(resource, i)" title="Click to edit">
          <span *ngIf="!resource.editMode"> {{resource.roleName}}</span>
          <select *ngIf="resource.editMode" class="form-control" (change)="updateResource($event, 'role', resource)">
            <option *ngFor="let role of roleList" [value]="role.roleId" [selected]="role.roleId == resource.roleId">{{role.roleName}}</option>
          </select>
        </th>
        <th (click)="editResource(resource, i)" title="Click to edit">
          <span *ngIf="!resource.editMode"> {{resource.resourceName}}</span>
          <input (blur)="updateResource($event, 'resourceName', resource, i)" *ngIf="resource.editMode" name="resourceName" class="form-control"
            type="text" [value]="resource.resourceName" />
        </th>

        <th (click)="editResource(resource, i)" title="Click to edit">
          <span *ngIf="!resource.editMode"> {{resource.resourceTypeName}}</span>
          <select *ngIf="resource.editMode" class="form-control" (change)="updateResource($event, 'type', resource)">
            <option *ngFor="let type of resourceTypeList" [value]="type.resourceTypeId" [selected]="type.resourceTypeId == resource.resourceTypeId">{{type.resourceTypeName}} </option>
          </select>
        </th>
        <th (click)="editResource(resource, i)" title="Click to edit">
          <span *ngIf="!resource.editMode"> {{resource.vendor}}</span>
          <input (blur)="updateResource($event, 'vendor', resource, i)" *ngIf="resource.editMode" name="resourceVendor" class="form-control"
            type="text" [value]="resource.vendor" />
        </th>

        <th (click)="editResource(resource, i)" title="Click to edit">
          <span *ngIf="!resource.editMode"> {{resource.rate}}</span>
          <input (blur)="updateResource($event, 'rate', resource)" *ngIf="resource.editMode" name="resourceRate" class="form-control"
            type="text" [value]="resource.rate" />
        </th>
        <th class="month-col">{{resource.totalPlannedEffort}}</th>
        <td class="ui-state-default month-col" id="{{resource.resourceId}}-{{month.resourceMonthId}}" *ngFor="let month of resource.resourceMonths.slice([fcol],[lcol])">
          <div (click)="editResource(resource)" title="Click to edit" class="resource-month">
            <span *ngIf="!resource.editMode"> {{month.plannedEffort}}</span>
            <input (blur)="updateResource($event, 'effortmonth', resource, month, i)" *ngIf="resource.editMode" name="resourceMonth"
              class="form-control" type="text" [value]="month.plannedEffort">
          </div>
        </td>
      </tr>

      <!--  Begin fixed Cost -->
      <tr class="header-row">

        <th>
          <button class="btn btn-sm" tooltip="Add Fixed Cost">
            <i class="fas fa-square-plus" (click)="addProjectFixedPrice()">add</i>
          </button>
        </th>
        <th colspan="5">Fixed Cost</th>
        <th class="month-col">Total</th>
        <th class="month-col" *ngFor="let month of project.months.slice([fcol],[lcol])"></th>

      </tr>
      <tr *ngFor="let fixedPrice of project.fixedPriceCosts let f = index" (blur)="alert('blur')">
        <th class="action">
          <a *ngIf="!fixedPrice.editMode" (click)="deleteFixedPrice(fixedPrice, f)">
            <i class="fas fa-trash">delete</i>
          </a>
          <a *ngIf="!fixedPrice.editMode" (click)="editFixedPrice(fixedPrice, f)">
            <i class="fas fa-edit">edit</i>
          </a>
          <a *ngIf="fixedPrice.editMode" (click)="saveFixedPriceEdit(fixedPrice, f)">
            <i class="fas fa-save">save</i>
          </a>
          <a *ngIf="fixedPrice.editMode" (click)="cancelFixedPriceEdit(fixedPrice, f)">
            <i class="fas fa-ban">cancel</i>
          </a>
        </th>
        <th (click)="editFixedPrice(fixedPrice, f)" title="Click to edit">
          <span *ngIf="!fixedPrice.editMode"> {{fixedPrice.fixedPriceTypeName}}</span>
          <select *ngIf="fixedPrice.editMode" class="form-control" (change)="updateFixedPrice($event, 'role', fixedPrice)">
            <option *ngFor="let type of fixedPriceTypeList" [value]="type.fixedPriceTypeId" [selected]="type.fixedPriceTypeId == fixedPrice.fixedPriceTypeId">{{type.fixedPriceTypeName}} </option>
          </select>
        </th>
        <th (click)="editFixedPrice(fixedPrice, f)" title="Click to edit">
          <span *ngIf="!fixedPrice.editMode"> {{fixedPrice.fixedPriceName}}</span>
          <input (blur)="updateFixedPrice($event, 'name', fixedPrice)" *ngIf="fixedPrice.editMode" name="fixedPriceName" class="form-control"
            type="text" [value]="fixedPrice.fixedPriceName" />
        </th>

        <th (click)="editFixedPrice(fixedPrice, f)" title="Click to edit">
          <span *ngIf="!fixedPrice.editMode"> {{fixedPrice.resourceTypeName}}</span>
          <select *ngIf="fixedPrice.editMode" class="form-control" (change)="updateFixedPrice($event, 'type', fixedPrice)">
            <option *ngFor="let type of resourceTypeList" [value]="type.resourceTypeId" [selected]="type.resourceTypeId == fixedPrice.resourceTypeId">{{type.resourceTypeName}} </option>
          </select>
        </th>

        <th (click)="editFixedPrice(fixedPrice, f)" title="Click to edit" colspan="2">
          <span *ngIf="!fixedPrice.editMode"> {{fixedPrice.vendor}}</span>
          <input (blur)="updateFixedPrice($event, 'vendor', fixedPrice)" *ngIf="fixedPrice.editMode" name="fixedPriceVendor" class="form-control"
            type="text" [value]="fixedPrice.vendor" />
        </th>


        <th class="month-col">{{fixedPrice.totalPlannedCost}}</th>
        <td class="ui-state-default month-col" id="{{fixedPrice.fixedPriceMonthId}}-{{month.monthId}}"  *ngFor="let month of fixedPrice.fixedPriceMonths.slice([fcol],[lcol])">
          <div (click)="editFixedPrice(fixedPrice, f)" title="Click to edit" class="fixedPrice-month">
            <span *ngIf="!fixedPrice.editMode"> {{month.plannedCost}}</span>
            <input (blur)="updateFixedPrice($event, 'plannedcost', fixedPrice, month, f)" *ngIf="fixedPrice.editMode" name="fixedPriceMonth"
              class="form-control" type="text" [value]="month.plannedCost">
          </div>
        </td>

      </tr>
      <tfoot>
        <tr class="footer-row">
          <th class="action-col"></th>
          <th colspan="4">Total Planned Capital</th>
          <th class="total-col"></th>
          <th class="month-col"></th>
          <th class="month-col" *ngFor="let month of project.months.slice([fcol],[lcol])">{{month.totalPlannedCapital}}</th>
        </tr>
        <tr class="footer-row">
          <th class="action-col"></th>
          <th colspan="4">Total Planned Expense</th>
          <th class="total-col"></th>
          <th class="month-col"></th>
          <th class="month-col" *ngFor="let month of project.months.slice([fcol],[lcol])">{{month.totalPlannedExpense}}</th>
        </tr>
        <tr class="footer-row">
          <th colspan="7"></th>
          <th [appColspan]="pageSize">
            <div *ngIf="showPaginator" class="pagination">
              <a (click)="pageLeft()">&laquo;</a>
              <a (click)="scrollLeft()">&lsaquo;</a>
              <a (click)="scrollRight()">&rsaquo;</a>
              <a (click)="pageRight()">&raquo;</a>
            </div>
          </th>
        </tr>
      </tfoot>
    </table>

  </div>


</div>
