<form (ngSubmit)="onSubmit()" name="itemForm" class="item-form" [formGroup]="itemForm" novalidate>
  <input readonly hidden  formControlName="itemID" class="required">
  <div class="form-group">
    <label class="center-block">Parent Group:</label>
    <select class="form-control" formControlName="parentId">
      <option *ngFor="let group of groupOptions" (select)="UpdateLevel(value)" [value]="group.groupId">{{groupName}}</option>
    </select>
  </div>
  <div class="form-group">
    <label class="center-block">Name: </label>
      <input class="form-control" formControlName="itemName" required>
    <div align="start" *ngIf="itemForm.controls.itemName.errors && !itemForm.controls.itemName.pristine">
      <div class="invalid-input">
        Group Name is required!
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="center-block">Description:</label>
      <input class="form-control" formControlName="itemDesc">
    
  </div>
  <div class="row">
    <div class="form-group">
      <label class="center-block">Level:</label>
      <input class="form-control" disabled="true" formControlName="level">
    </div>
    <div class="form-group">
      <label class="center-block">Level Description:</label>
        <input class="form-control" formControlName="levelDesc">
    </div>
  </div>
  <div class="form-group">
    <label class="center-block">Group Manager:</label>
    <select class="form-control" formControlName="itemManager">
      <option *ngFor="let pm of  pmList" [value]="pm.currentUser.userId">{{pm.currentUser.lastName}},&nbsp;{{pm.currentUser.firstName}}</option>
    </select>
  </div>

  <div class="form-group-row">
    <button class="btn btn-primary" type="submit" [disabled]="!itemForm.valid">
      <i class="fas fa-save"></i>Save</button>
      <button type="button" class="btn btn-warning" (click)="revert()">
        <i class="fas fa-window-restore"></i>Reset</button>
  
      <button type="button" class="btn btn-warning" (click)="cancel()">
      <i class="fas fa-ban"></i>Cancel</button>
  </div>

</form>

