<div class="card">
  <div class="card-header ">
    <h4>{{project.projectName}}</h4>

    <h6>{{project.projectDesc}}</h6>

    <div class="card-body">
      <div class="p-2 d-flex flex-row">
        <div class="label">Project Manager:</div>
        <div>{{project.projectManager}}</div>
      </div>
      <div class="p-2 d-flex flex-row">
        <div class="label">Planned Start:</div>
        <div>{{project.plannedStartDate}}</div>
      </div>
      <div class="p-2 d-flex flex-row">
        <div class="label">Actual Start:</div>
        <div>{{project.actualStartDate}}</div>
      </div>
      <div class="p-2 d-flex flex-row">
        <div class="label">Project Group:</div>
        <div>{{project.groupName}}</div>
      </div>
      <div class="p-2 d-flex flex-row">
        <div class="label">Project Status:</div>
        <div>{{project.statusName}}</div>
      </div>
      <div>
        <table class="table table-sm">
          <thead>
            <tr>
            <th colspan="3">
              Expense 
            </th>
            <th colspan="3">Capital</th>
          </tr>
          <tr>
            <th>Planned</th>
            <th>Actual To Date</th>
            <th>Budget</th>
            <th>Planned</th>
            <th>Actual To Date</th>
            <th>Budget</th>
          </tr>
          </thead>
          <tr>
            <td>{{project.totalPlannedExpense | currency:'USD':'symbol-narrow':'0.0-0'}} </td>
            <td>{{project.totalActualExpense | currency:'USD':'symbol-narrow':'0.0-0'}}</td>
            <td>{{project.totalExpenseBudget | currency:'USD':'symbol-narrow':'0.0-0'}}</td>
            <td>{{project.totalPlannedCapital | currency:'USD':'symbol-narrow':'0.0-0'}}</td>
            <td>{{project.totalActualCapital | currency:'USD':'symbol-narrow':'0.0-0'}}</td>
            <td>{{project.totalExpenseBudget | currency:'USD':'symbol-narrow':'0.0-0'}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <a (click)="showDetails(project.projectId)" class="card-link">Details</a>
    </div>
  </div>
